<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Home </title>
</head>
{% load static %}
<style>

    body
    {
    background-image:url("static/dog.jpg");
    webkit-background-size: cover;
    moz-background-size: cover;
    o-background-size: cover;
    background-size: cover;
    }

</style>
<body>
<center>

    <h1 style="color:black;"> Hello Guys. Your at Movie's Collections.</h1>
    <h4 style="text-align:left;"><a  href="/admin" class="btn btn-primary">Admin</a></h4>
    <br>
    <h2 style="color:black;"><a href="/mov" >Add New Movie Record</a></h2><br><br>
    <h2 style="color:black;"><a href="/show">View The Movie's Record</a></h2>

</center>
</body>
</html>